.HeroContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Makes it wrap on smaller screens */
}

.Heroleftcontainer {
  margin-top: 20%;
  width: 50%;
}

.Herorightcontainer
{
  height: auto;
  width: fit-content;
}

/* Mobile: stack vertically and make left full width */
@media (max-width: 768px) {
  .HeroContainer {
    flex-direction: column;
  }

  .Heroleftcontainer {
    width: 100%;
    margin-top: 10%; /* Optional: tweak for smaller screens */
  }
}
